.landing {
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.landing-primary {
  font-size: 80px;
  margin-top: 9%;
}

.landing-secondary {
  font-size: 90px;
}