.main {
  background-image: url('./background.jpg');
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  background-position: center;
  background-size: cover;
}

.main-top {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin: auto;
  justify-content: space-between;
}

.main-top-logo {
  margin-left: 0px;
  margin-right: auto;
}

.main-top-connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 68px;
}

.main-middle {
  display: flex;
  flex-direction: row;
}